@import '../../constants.css';
@import '../../../node_modules/open-color/open-color.css';

.Place {
  padding: var(--basicOffset);
}

.Place__Cover {
  position: relative;
  width: calc(100% + var(--basicOffset) * 2);
  margin: calc(-1 * var(--basicOffset));
  height: 360px;
  color: var(--oc-gray-1);
  background-size: cover;
  background-position: 50% 50%;
}

.Place__Cover__Bottom {
  position: absolute;
  bottom: var(--basicOffset);
  left: var(--basicOffset);
  text-align: left;
}

.Place__Cover__Top {
  position: absolute;
  top: var(--basicOffset);
  left: var(--basicOffset);
}

.Place__Cover__Background {
  @apply --AbsoluteFull;
  background-color: var(--oc-gray-8);
  opacity: 0.5;
}

.Place__Rank {
  font-size: 18px;
}

.Place__Name {
  margin: 0;
}

.Place__Detail {
  list-style: none;
  text-align: left;
  margin-top: calc(var(--basicOffset) * 2);
}

.Place__Detail__Item {
  & strong {
    display: block;
  }

  & span {
    display: block;
  }
}

.Place__Divider {
  margin: var(--basicOffset) 0;
  border-color: var(--oc-gray-4);
}

.Place__Comments {
  list-style: none;
}

.Place__Comments__Item {
 & strong {
   display: block;
   & time {
     margin-left: 0.5rem;
     font-size: 1.2rem;
     font-weight: normal;
     color: var(--oc-gray-6);
   }
 }
}

.FloatingButton {
  position: fixed;
  right: var(--basicOffset);
  bottom: var(--basicOffset);
  margin: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  box-shadow: 1px 1px 10px 1px rgba(136,136,136,1);

  &:before, &:after {
    position: absolute;
    background: var(--oc-gray-1);
    content: '';
    height: 1.5px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    margin-top: 24px;
    border-radius: 2px;
  }

  &:after {
    transform: rotate(90deg);
  }
}