@import '../../../node_modules/open-color/open-color.css';
@import '../../constants.css';

:root {
  --navbarHeight: 64px;
}

.Navbar {
  height: var(--navbarHeight);
  background: linear-gradient(to right, var(--oc-indigo-9), var(--oc-indigo-7));
  padding: 0 var(--basicOffset);

  & ul {
    list-style: none;
    margin: 0;

    & li {
      display: inline-block;
      margin: 0 0 0 var(--basicOffset);
    }
  }
}

.Navbar__Left {
  float: left;
  width: calc(100% - 46px);
}

.Navbar__Right {
  float: right;
}

.Navbar__Left, .Navbar__Right {
  height: var(--navbarHeight);
  & > * {
    display: inline-block;
  }
}

.Navbar__Button {
  height: var(--navbarHeight);
  line-height: var(--navbarHeight);
}

.Navbar__Link {
  overflow: hidden;
  height: var(--navbarHeight);
  line-height: var(--navbarHeight);
  display: inline-block;
  color: var(--oc-gray-1);
  font-size: 18px;
  margin: 0;
  background: none;
  border: 0;
  padding: 0;
  font-weight: normal;
  &:focus, &:hover {
    color: var(--oc-gray-1);
  }
}

.Navbar__Logo {
  font-size: 16px;
  padding: 2px 6px;
  border: 1px solid var(--oc-gray-1);
}

.SearchBox {
  margin-left: 12px;
  overflow: hidden;
  width: calc(100% - 86px);
  height: var(--navbarHeight);
  padding-top: 14px;
}

.SearchBox__Icon {
  transform: rotate(-45deg);
}

input.SearchBox__Input {
  border: 0;
  background: none;
  color: var(--oc-gray-1);
  width: calc(100% - 34px);
  margin: 0;
}