@import './fonts/font.css';
@import '../node_modules/open-color/open-color.css';
@import '../node_modules/icono/dist/icono.min.css';
@import './constants.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans', sans-serif;
}

input {
  font-size: 100%;
}

.Section {
  padding-top: var(--basicOffset);
  padding-bottom: var(--basicOffset);
}

button {
  font-size: 1.4rem;
  font-weight: normal;
  border-radius: 0.2rem;
  padding: 0 2rem;
  background: linear-gradient(to right, var(--oc-gray-9), var(--oc-gray-7));
  border-color: var(--oc-gray-8);
}

.Button {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

/**
 * Button Colors
 */
.Button--Plain {
  background: transparent;
  border-color: transparent;
}

.Button--Primary {
  background: linear-gradient(to right, var(--oc-indigo-9), var(--oc-indigo-7));
  border-color: var(--oc-indigo-8);
}

.Button--Default {
  background: linear-gradient(to right, var(--oc-gray-9), var(--oc-gray-7));
  border-color: var(--oc-gray-8);
}

.Button--Warning {
  background: linear-gradient(to right, var(--oc-orange-9), var(--oc-orange-7));
  border-color: var(--oc-orange-8);
}

.Button--Danger {
  background: linear-gradient(to right, var(--oc-red-9), var(--oc-red-7));
  border-color: var(--oc-red-8);
}


/**
 * Button Sizings
 */
.Button--Tiny {

}

.Button--Small {

}

.Button--Normal {
  font-size: 1.6rem;
  height: 3.2rem;
}

.Button--Large {
  font-size: 1.8rem;
  height: 5.2rem;
  line-height: 5.2rem;
}

.Button--Giant {
  font-size: 2.2rem;
}

.Button--Circle {
  border-radius: 50%;
}

.Button--Icon {
  padding: 0.5rem;
  margin: 0;
  height: 5rem;

  & > * {
    float: left;
  }
}